obj_test
oam_test
mode7_test
chrcache_test
chrcache_obj_only_test
bglinecache_test
mask_alignment_test
hires_test
audioschedule_test
queue_test
safe_frameskip_test
diag_test
spcio_test
spc700_test
regioncadence_test
brightness_test
